<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

    <servers>
        <server>
            <id>maven-snapshots</id>
            <username>appuser</username>
            <password>appuser123*</password>
        </server>

    </servers>

    <mirrors>
        <mirror>
            <id>maven-snapshots</id>
            <name>central</name>
            <url>http://ggs2.space:9001/repository/maven-public/</url>
            <mirrorOf>*</mirrorOf>
        </mirror>
    </mirrors>

</settings>
