<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title></title>
</head>
<body style="font-size: 12px">
<div>
    <div>
        <table align="center" width="600">
            <tr>
                <td></td>
                <td style="vertical-align: bottom; text-align: right;">
                    <strong>GoWaka</strong><br/>
                    Buea, Cameroon<br/>
                    P.O Box 412 Buea<br/>
                    <b>E-Mail:</b> <u>info@gowaka.net</u><br/>
                </td>
            </tr>
            <tr>
                <td style="vertical-align: bottom;text-align: left;">
                    <div style="float: left; border: 2px solid #6b7d90; text-align: center">
                        <img th:src="${journeyInfo.qRCheckedInImageUrl}"
                             alt="QR Code"/>
                        <div th:text="${journeyInfo.checkedInCode}"></div>
                    </div>
                </td>
                <td style="vertical-align: bottom; text-align: right;">
                    <b>Printed Date:</b> <span
                        th:text="${#calendars.format(#calendars.createNow(), 'dd MMM yyyy')}"></span>
                </td>
            </tr>
        </table>
        <hr/>
    </div>
    <h2 style="text-align: center">Gowaka ETicket</h2>
    <table align="center" width="570">
        <tr>
            <td class="content-cell">
                <div class="f-fallback">
                    <div style="text-align: left">
                        <table>
                            <tbody>
                            <tr>
                                <th>Passenger's name</th>
                                <td th:text="${journeyInfo.passengerName}"></td>
                            </tr>
                            <tr>
                                <th>ID Card #</th>
                                <td th:text="${journeyInfo.passengerIdNumber}"></td>
                            </tr>
                            <tr>
                                <th>Seat #</th>
                                <td th:text="${journeyInfo.passengerSeatNumber}"></td>
                            </tr>
                            <tr>
                                <th>Departure Time</th>
                                <td th:text="${#temporals.format(journeyInfo.departureTime, 'dd/MM/yyyy HH:mm')}"></td>
                            </tr>
                            </tbody>
                        </table>
                        <hr style="border-width: 3px; border-color: #ed8323"/>
                        <table>
                            <tbody>
                            <tr>
                                <th>Car</th>
                                <td th:text="${journeyInfo.carName}"></td>
                            </tr>
                            <tr>
                                <th>Car Plate #</th>
                                <td th:text="${journeyInfo.carLicenseNumber}"></td>
                            </tr>
                            <tr>
                                <th>Driver's Name</th>
                                <td th:text="${journeyInfo.carDriverName}"></td>
                            </tr>
                            </tbody>
                        </table>
                        <hr style="border-width: 3px; border-color: #ed8323"/>
                        <h2>Journey Information</h2>
                        <table>
                            <tbody>
                            <tr>
                                <th>Departure</th>
                                <td th:text="${journeyInfo.departureLocation}"></td>
                            </tr>
                            <tr>
                                <th>Destination</th>
                                <td th:text="${journeyInfo.destinationLocation}"></td>
                            </tr>
                            <tr>
                                <th>Cost</th>
                                <td>
                                    <span th:text="${journeyInfo.amount}"></span>
                                    <span th:text="${journeyInfo.currencyCode}"></span>
                                </td>
                            </tr>
                            <tr>
                                <th>Payment Method</th>
                                <td th:text="${journeyInfo.paymentChannel}"></td>
                            </tr>
                            <tr>
                                <th>Motive</th>
                                <td th:text="${journeyInfo.paymentReason}"></td>
                            </tr>
                            <tr>
                                <th>Transaction Number</th>
                                <td th:text="${journeyInfo.paymentChannelTransactionNumber}"></td>
                            </tr>
                            <tr>
                                <th>Transaction Status</th>
                                <td th:text="${journeyInfo.paymentStatus}"></td>
                            </tr>
                            <tr>
                                <th>Transaction Date</th>
                                <td th:text="${#temporals.format(journeyInfo.paymentDate, 'dd/MM/yyyy HH:mm')}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <hr style="border-width: 3px; border-color: #ed8323"/>
                </div>
            </td>
        </tr>
    </table>
    <br/>
    <br/>
    <br/>
    <br/>
    <table class="email-footer" align="center" width="570" cellpadding="0" cellspacing="0"
           role="presentation" style="background-color: #95a5a6;color: white">
        <tr>
            <td align="center">
                <img th:src="${logo}" style="width: 80px;height: 80px"/>
                <p>&copy;
                    <span th:text="${#calendars.format(#calendars.createNow(), 'yyyy')}"></span>
                    GoWaka. All rights reserved.
                </p>
                <p>Go-Groups Ltd<br/>
                    Malingo-Muea Road, Buea Cameroon,<br/>
                    P.O Box 412 Buea.
                </p>
            </td>
        </tr>
    </table>
</div>
</body>
</html>
